:root {
    --danger-color: hsl(0, 70%, 50%);
    --table-bg-color: #fff;
    --text-color: #000;
    --primary-color: #0000bb;
    --primary-color-hover: #0b5ed7;
    --border-color: #a2a9af;
    --card-bg: rgba(255, 255, 255, 1);
    --input-border: #ced4da;
    --link-color: #0000bb;
    --input-bg-focus: #fff;
    --card-header-bg: #1e293b;
    --container-color: #fff;
    --table-header-bg: #0000bb;
    --header-text: #fff;
    --even-row-bg: #f2f2f2;
    --input-bg: #eee;
    --date-picker-icon: invert(0%);
    --box-shadow: rgba(0, 0, 0, 0.3);
    --modal-bg: #fff;
    --modal-border: #333;
    --dark-mode-invert-1: 0;
    --dark-mode-invert-2: 1;
}

[data-theme="dark"] {
    --danger-color: hsl(0, 75%, 58%);
    --table-bg-color: #1e1e1e;
    --text-color: #fff;
    --primary-color: #4a76d0;
    --primary-color-hover: #3a66c0;
    --border-color: #555;
    --card-bg: rgba(33, 37, 41, 1);
    --input-border: #444;
    --link-color: #0d6efd;
    --input-bg: #333;
    --input-bg-focus: #000;
    --card-header-bg: #2c3e50;
    --container-color: #191919;
    --table-header-bg: #0d6efd;
    --header-text: #fff;
    --even-row-bg: #222;
    --date-picker-icon: invert(100%);
    --box-shadow: rgba(0, 0, 0, 0.3);
    --modal-bg: #2c3e50;
    --modal-border: #888;
    --dark-mode-invert-1: 1;
    --dark-mode-invert-2: 0;
}

.main-content-body {
    padding-top: 0.5rem;
}

.form-control text {
    padding-right: 2rem;
}

.form-control::-webkit-outer-spin-button,
.form-control::-webkit-inner-spin-button {
    -webkit-appearance: inner-spin-button;
    background: transparent;
    margin-left: 6px;
}

[data-theme="dark"] .form-control::-webkit-outer-spin-button,
[data-theme="dark"] .form-control::-webkit-inner-spin-button {
    filter: invert(1) brightness(1.6);
}

.card {
    border: 1px solid var(--border-color);
    box-shadow: 0 4px 6px var(--box-shadow);
    background-color: var(--card-bg);
}

.card-header {
    background-color: var(--card-header-bg) !important;
    border-color: var(--card-header-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--header-text) !important;
}

.card,
.card-body,
.table-header {
    border-radius: 8px;
}

.card-body {
    background-color: var(--table-bg-color);
}

.ordinal-number-header-cell {
    text-align: center;
    width: 120px;
}

.time-contributed-cell {
    width: 180px;
}

.contribution-amount-header-cell,
.total-amount-header-cell {
    width: 200px;
}

.btn-secondary {
    background-color: #6c757d !important;
    color: white;
    border: 1px solid #6c757d !important;
}

.btn-secondary:hover {
    background-color: #5a6268 !important;
    border-color: #545b62 !important;
}

.btn-success {
    background-color: #28a745 !important;
    color: white;
    border: 1px solid #28a745 !important;
}

.btn-success:hover {
    background-color: #218838 !important;
    border-color: #1e7e34 !important;
}

.time-text,
.ordinal-text,
.form-control {
    font-size: 16px;
    height: 2.25rem;
}

.table-bordered {
    border: 1px solid var(--border-color);
}

.table-hover tbody tr:hover {
    background-color: var(--even-row-bg);
}

.table-bordered thead th {
    background-color: var(--table-header-bg);
    color: var(--header-text);
    border: 1px solid var(--header-bg);
    text-align: center;
    vertical-align: middle;
}

.table-bordered tbody td {
    border: 1px solid var(--border-color);
    vertical-align: middle;
}

.table-bordered tbody tr:nth-of-type(even) {
    background-color: var(--even-row-bg);
}

.money-amount-row {
    height: 60px;
}

.money-amount-cell {
    position: relative;
    padding: 0 20px 0 30px !important;
}

.ordinal-number-cell {
    text-align: center;
}

.money-amount-container {
    display: flex;
    align-items: center;
    position: relative;
}

.ordinal-text,
.time-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ordinal-text {
    font-weight: bold;
    width: 100%;
}

.money-currency {
    position: absolute;
    left: 8px;
    z-index: 10;
    pointer-events: none;
    color: var(--text-color);
}

.money-value {
    padding-left: 25px;
}

.time-text,
.ordinal-text {
    color: var(--text-color);
}

.contribution-input,
.total-amount-input {
    background-color: var(--input-bg);
    border: 1px solid var(--input-border);
    color: var(--text-color) !important;
    box-shadow: none;
}

.contribution-input:hover,
.total-amount-input:hover,
.contribution-input:focus,
.total-amount-input:focus {
    background-color: var(--input-bg-focus);
    border-color: var(--primary-color);
    color: var(--text-color);
    box-shadow: 0 0 0 0.25rem rgba(var(--primary-color-rgb), 0.25);
}

.row-action-container {
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    position: relative;
    color: var(--text-color);
}

.money-amount-row:hover .row-add-btn,
.money-amount-row:hover .row-remove-btn {
    visibility: visible;
}

.row-add-btn,
.row-remove-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin-left: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: var(--text-color);
}

th {
    background-color: var(--primary-color) !important;
    border-color: var(--border-color);
}

td {
    background-color: var(--table-bg-color) !important;
}

.table-btn-group .btn {
    background-color: var(--primary-color);
    color: var(--header-text);
    border: 1px solid var(--primary-color);
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.table-btn-group .btn:hover {
    background-color: var(--primary-color-hover);
    border-color: var(--primary-color-hover);
}
