.amping-container {
    width: 70rem;
}

.left-main-image {
    max-width: 100%;
    height: auto;
    max-height: clamp(250px, 30vw, 400px);
    object-fit: contain;
    border-radius: 12px;
    box-shadow: 0 5px 15px var(--section-shadow);
}

.form-container {
    width: 100%;
    max-width: 450px;
    margin-top: 16px;
}

.action-buttons {
    margin-top: 34px;
}

.btn-action {
    padding: 14px;
    border-radius: 10px;
}
