:root {
    --primary-border-color: #888;
    --secondary-border-color: #a2a9af;
    --input-bg: #eee;
    --input-bg-hover: #fff;
    --input-bg-focus: #fff;
    --input-text-primary: #666;
    --input-text-secondary: #000;
    --light-blue-color: #009879;
    --text-color: #000;
    --table-header-bg: #0000bb;
    --header-text: #fff;
    --odd-row-bg: #fff;
    --even-row-bg: #f2f2f2;
}

[data-theme="dark"] {
    --primary-border-color: #444;
    --secondary-border-color: #555;
    --input-bg: #333;
    --input-bg-hover: #000;
    --input-bg-focus: #333;
    --input-text-primary: #ccc;
    --input-text-secondary: #fff;
    --light-blue-color: #80cbc4;
    --text-color: #fff;
    --table-header-bg: #4a76d0;
    --even-row-bg: #2a2a2a;
    --odd-row-bg: #191919;
}

.main-content-body {
    padding-top: 30px;
}

#filter-search {
    border-color: var(--primary-border-color);
    background-color: var(--input-bg);
    color: var(--input-text-secondary);
    height: 40px;
}

#filter-search::placeholder {
    color: var(--input-text-primary);
}

.filter-sort-dropdown .dropdown-menu,
.filter-per-page-dropdown .dropdown-menu,
.filter-type-dropdown .dropdown-menu,
.filter-role-dropdown .dropdown-menu {
    min-width: 0;
    width: 100%;
}

#perPageDropdownBtn,
#sortDropdownBtn,
#typeDropdownBtn,
#roleDropdownBtn {
    color: var(--input-text-secondary);
    background-color: var(--input-bg);
    border: 1px solid var(--primary-border-color);
    border-radius: 6px;
    font-size: 16px;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

#perPageDropdownBtn,
.filter-per-page-dropdown .dropdown-menu {
    width: 90px;
}

#sortDropdownBtn,
.filter-sort-dropdown .dropdown-menu {
    width: 180px;
}

#typeDropdownBtn,
.filter-type-dropdown .dropdown-menu {
    width: 220px;
}

#roleDropdownBtn,
.filter-role-dropdown .dropdown-menu {
    width: 200px;
}

.controls-grid {
    display: grid;
    grid-template-columns: auto;
    gap: 1rem;
    align-items: center;
}

.input-group .form-control,
.input-group .btn {
    border: 1px solid var(--primary-border-color);
}

#logs-pagination-controls a {
    border-color: #666;
}

#logs-pagination-controls .btn {
    border-width: 1.5px;
    font-size: 16px;
    height: 40px;
}

.data-table-container {
    margin-top: 1rem;
    border: 1px solid var(--secondary-border-color);
}

.logs-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1rem;
    overflow: hidden;
    border: none;
}

.logs-table thead tr {
    background-color: var(--table-header-bg);
    color: var(--header-text);
}

.logs-table thead tr:hover {
    background-color: var(--table-header-bg);
}

.logs-table th,
.logs-table td {
    padding: 12px 15px;
    vertical-align: middle;
    border: 1px solid var(--secondary-border-color);
}

.logs-table th:first-child,
.logs-table td:first-child {
    border-left: none;
}

.logs-table th:last-child,
.logs-table td:last-child {
    border-right: none;
}

.logs-table tr {
    border-left: 1px solid var(--secondary-border-color);
    border-right: 1px solid var(--secondary-border-color);
}

.logs-table tbody tr:last-of-type {
    border-bottom: 1px solid var(--secondary-border-color);
}

.logs-table-header {
    font-weight: 600;
    cursor: pointer;
    user-select: none;
}

.logs-table tbody tr:nth-of-type(odd) {
    background-color: var(--odd-row-bg) !important;
}

.logs-table tbody tr:nth-of-type(even) {
    background-color: var(--even-row-bg) !important;
}

.logs-table tr:hover {
    background-color: rgba(0, 0, 0, 0.075);
}

.btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
}

.custom-dropdown-btn {
    position: relative;
    height: 40px;
    background-color: var(--input-bg);
    color: var(--input-text);
    font-weight: normal;
    border: 1px solid var(--primary-border-color);
    border-radius: 6px;
    transition: all 0.1s ease;
    text-align: left;
    padding: 0 1rem;
}

.dropdown-menu,
.dropdown-menu .dropdown-item.active {
    background-color: var(--input-bg-focus);
    color: var(--input-text);
}

.dropdown-menu .dropdown-item {
    color: var(--input-text);
    height: 2rem;
    cursor: pointer;
    margin: 0;
}

.dropdown-item:hover,
.dropdown-menu .dropdown-item.active:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.dropdown-toggle::after {
    transition: transform 0.3s ease;
    transform-origin: center;
}

.dropdown-toggle.rotated::after {
    transform: translateY(-50%) rotate(180deg);
}

.custom-dropdown-btn::after {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    color: var(--arrow-color);
}
