:root {
    --primary-border-color: #888;
    --item-shadow: rgba(0, 0, 0, 0.3);
    --item-hover-shadow: rgba(0, 0, 0, 0.3);
    --input-bg-hover: #fff;
    --input-bg-focus: #fff;
    --input-text-primary: #666;
    --input-text-secondary: #000;
    --btn-secondary-bg: #6c757d;
    --btn-secondary-hover-bg: #5a6268;
    --btn-secondary-hover-border: #545b62;
    --light-blue-color: #009879;
    --danger-color: hsl(0, 70%, 50%);
    --success-color: hsl(140, 50%, 45%);
    --dark-mode-invert: 0;
}

[data-theme="dark"] {
    --primary-border-color: #444;
    --item-shadow: rgba(0, 0, 0, 0.3);
    --item-hover-shadow: rgba(0, 0, 0, 0.3);
    --input-bg-hover: #000;
    --input-bg-focus: #333;
    --input-text-primary: #ccc;
    --input-text-secondary: #fff;
    --btn-secondary-bg: #6c757d;
    --btn-secondary-hover-bg: #5a6268;
    --btn-secondary-hover-border: #545b62;
    --light-blue-color: #80cbc4;
    --danger-color: hsl(0, 75%, 58%);
    --success-color: hsl(140, 60%, 50%);
    --dark-mode-invert: 1;
}

.main-content-body {
    padding-top: 30px;
}

#filter-search {
    border-color: var(--primary-border-color);
    background-color: var(--input-bg);
    color: var(--input-text-secondary);
    height: 40px;
}

#filter-search::placeholder {
    color: var(--input-text-primary);
}

.input-group .form-control #filter-search::placeholder {
    color: var(--input-text-primary);
}

[data-theme="dark"] #filter-search::placeholder {
    color: var(--input-text-primary);
}

.user-role-dropdown .dropdown-menu,
.filter-per-page-dropdown .dropdown-menu,
.filter-sort-dropdown .dropdown-menu {
    min-width: 0;
    width: 100%;
}

.user-role-dropdown .dropdown-toggle,
#perPageDropdownBtn,
#sortDropdownBtn {
    color: var(--input-text-secondary);
    background-color: var(--input-bg);
    border: 1px solid var(--primary-border-color);
    border-radius: 6px;
    font-size: 16px;
    height: 40px;
}

.user-role-dropdown .dropdown-toggle {
    font-size: 16px;
    font-weight: bold;
}

.user-role-dropdown,
.user-role-dropdown .dropdown-menu {
    width: 180px;
}

.user-card-box .dropdown-menu {
    top: auto !important;
    bottom: 100% !important;
    max-height: 178px !important;
    overflow-y: auto;
}

#perPageDropdownBtn,
.filter-per-page-dropdown .dropdown-menu {
    width: 90px;
}

#sortDropdownBtn,
.filter-sort-dropdown .dropdown-menu {
    width: 140px;
}

.filter-sort-dropdown .dropdown-menu,
.filter-per-page-dropdown .dropdown-menu,
.user-role-dropdown .dropdown-menu {
    background-color: var(--input-bg-focus);
    border-color: var(--primary-border-color);
}

#searchBtn:hover {
    border-radius: 8px;
}

#perPageDropdownBtn:hover,
#sortDropdownBtn:hover {
    border: 1px solid var(--primary-border-color);
    border-radius: 6px;
}

#btn-add-user-wrapper,
#user-role-controls {
    position: fixed;
    z-index: 1000;
    bottom: 20px;
    border-radius: 8px;
}

#searchBtn .btn,
.filter-sort-dropdown .btn {
    font-size: 16px;
    height: 40px;
}

.user-role-dropdown .dropdown-toggle,
.filter-sort-dropdown .btn,
.filter-per-page-dropdown .btn {
    display: flex;
    justify-content: flex-start;
    padding-left: 1rem;
}

.user-role-label {
    font-size: 20px;
}

#sortDropdownBtn:hover,
#perPageDropdownBtn:hover,
.user-role-dropdown .dropdown-toggle:hover {
    background-color: var(--input-bg-hover);
}

.user-avatar-placeholder {
    background-color: var(--primary-color);
    border: 3px solid var(--primary-color);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    width: 140px;
    margin-bottom: 8px;
    object-fit: cover;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: clamp(2rem, 5vw, 3rem);
    font-weight: bold;
}

#user-card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 5rem;
    padding: 1rem;
    gap: 1rem;
}

.user-card-box {
    background-color: var(--item-bg);
    border: 1.5px solid var(--input-border);
    border-radius: 0.5rem;
    box-shadow: 0 5px 10px var(--item-shadow);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 300px;
    width: 260px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.user-card-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px var(--item-hover-shadow);
}

.user-card-box img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border: 3px solid var(--primary-color);
    border-radius: 50%;
    margin-bottom: 0.5rem;
}

.user-fullname,
.user-role-label {
    color: var(--text-color);
    font-weight: bold;
}

.user-fullname {
    font-size: 18px;
    margin: 4px 0 9.5px;
}

.user-role-label {
    margin-top: 9px;
}

.controls-grid {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    gap: 1rem;
}

.input-group .form-control,
.input-group .btn {
    border: 1px solid var(--primary-border-color);
}

.input-group .btn {
    background-color: var(--primary-color);
}

#user-pagination-controls a {
    border-color: #666;
}

.user-card-box a {
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
}

#user-pagination-controls .btn {
    border-width: 1.5px;
    font-size: 16px;
    height: 40px;
}

.common-pagination-info-buttons .btn-outline-secondary {
    border-color: var(--primary-border-color);
    color: var(--primary-border-color);
    background-color: transparent;
    box-shadow: none;
}

.common-pagination-info-buttons .btn-outline-secondary:hover,
.common-pagination-info-buttons .btn-outline-secondary.active {
    border-color: var(--primary-color);
    background-color: var(--light-blue-color);
    color: #fff;
}

.custom-dropdown-btn {
    position: relative;
    height: 40px;
    background-color: var(--input-bg);
    color: var(--input-text);
    font-weight: normal;
    border: 1px solid var(--primary-border-color);
    border-radius: 6px;
    transition: all 0.1s ease;
    text-align: left;
    padding: 0 1rem;
}

.custom-dropdown-btn:hover,
.custom-dropdown-btn:focus {
    border: 1px solid var(--primary-border-color);
    border-radius: 6px;
}

.custom-dropdown-btn::after {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    color: var(--arrow-color);
}

.dropdown-menu,
.dropdown-menu .dropdown-item.active {
    background-color: var(--input-bg-focus);
    color: var(--input-text);
}

.dropdown-menu .dropdown-item {
    color: var(--input-text);
    height: 32px;
    cursor: pointer;
    margin: 0;
}

.dropdown-item:hover,
.dropdown-menu .dropdown-item.active:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.dropdown-toggle::after {
    transition: transform 0.3s ease;
    transform-origin: center;
}

.dropdown-toggle.rotated::after {
    transform: translateY(-50%) rotate(180deg);
}

@media (max-width: 992px) {
    .controls-grid {
        grid-template-columns: 1fr 1fr;
    }

    .filter-search-box {
        grid-column: 1 / 3;
    }

    .filter-sort-wrapper {
        grid-column: 1 / 2;
    }

    .filter-per-page-wrapper {
        grid-column: 2 / 3;
    }

    #user-pagination-controls {
        grid-column: 1 / 3;
        justify-content: center;
        margin-top: 1rem;
    }
}

@media (max-width: 768px) {
    .controls-grid {
        grid-template-columns: 1fr;
    }

    .filter-search-box,
    .filter-sort-wrapper,
    .filter-per-page-wrapper,
    #user-pagination-controls {
        grid-column: 1 / 2;
        width: 100%;
        justify-self: stretch;
    }

    .filter-sort-wrapper .dropdown,
    .filter-per-page-wrapper .dropdown {
        width: 100%;
    }

    #user-pagination-controls {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }
}
