.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-container {
    background-color: var(--input-bg);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 90%;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    border-bottom: 1px solid var(--primary-border-color);
}

.modal-header h2 {
    margin: 0;
    color: #fff;
    font-size: 1.25rem;
}

.modal-close {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 24px;
    height: 24px;
    color: #fff;
}

.modal-body {
    background-color: var(--modal-bg);
    padding: 1.5rem;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    padding: 1rem 1.5rem;
    border-top: none;
}

.form-group {
    margin-bottom: 1rem;
}

.form-label {
    display: block;
    color: var(--input-text-secondary);
}

#form-label {
    margin-bottom: 0.5rem;
}

.form-control {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    background-color: var(--input-bg);
    color: var(--input-text-secondary);
}

#household_name:hover {
    background-color: #fff;
}

[data-theme="dark"] #household_name:hover {
    background-color: #000;
}

.btn {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.btn-secondary {
    background-color: var(--btn-secondary-bg);
    color: white;
}

.btn-primary {
    background-color: var(--primary-color);
    color: white;
}

.btn:hover {
    opacity: 0.9;
}
